<%= form_with model: @page, url: casestudy_new_page_path do |f| %>
  <div class="mb-3">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>
  </div>

  <%= f.button 'Save Page' %>
<% end %>