<h1 class="mb-5">Content Creator Dashboard</h1>
<div class="d-grid gap-2 col-6 mx-auto">
  <%= link_to 'Create Casestudy', new_casestudy_path, class: 'btn btn-primary' %>
  <%= link_to 'Manage Traits', traits_path, class: 'btn btn-primary' %>

</div>